<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo  http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

    <!--<context:component-scan base-package="com.yang"></context:component-scan>-->

    <dubbo:service interface="com.yang.service.DemoService1" ref="DemoService1"/>

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="provider"  />

    <!-- 使用multicast广播注册中心暴露服务地址 -->
    <!--<dubbo:registry address="multicast://224.5.6.7:1234" />-->

    <!--Zookeeper单机配置-->
    <dubbo:registry address="zookeeper://192.168.1.144:2181" />

    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20880" />

    <bean id="DemoService1" class="com.yang.dubboProvider.service.DemoService1Impl" />
</beans>